*{
	margin: 0;
	padding: 0;
	border-width:0;
}
body{
	background-color: #ffffff;
}
/*header*/
header{
}
/*navigatie*/
nav{
	border-bottom: 1px solid black;
}
nav ul img{
	width: 8%;
	margin-right: 2%;
	margin-top: 3%;
}
nav ul{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 4%;
}
nav ul li{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	display: inline;
	margin-right: auto;
	margin-left: auto;
	margin-top: -2%;
	padding-left: 2.6%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
} 
nav ul li a{
	text-decoration: none;
	color: black;
}

nav ul li:hover{
	border-left: 2px solid;
}
nav ul li a:hover{

}
 ul.sub1 {
	list-style-type: none;
} 
nav ul .sub1 a {
	margin-top: 5px;
}
ul ul.sub1 {
	display: none;
	position: absolute;
	top: 26px;
	left: -40px;
}
		
ul li:hover .sub1 {
	display: block;
}
nav ul .sub1 li:hover  {
	display: block;
}
.cartli{
	background-color: black;
	border-radius: 10%;
	color: white;
}
.cartli a{
	text-decoration: none;
	color: white;
}
.cartli:hover{
	background-color: white;
	border: 2px solid black;
	color: black;
}
.cartli a:hover{
	color: black;
}
header nav ul .search{
	width: 1.7%;

	padding-top: 1%;
	margin-right: 3%;
	margin-left: 3%;
}
/*footer*/
footer{
	clear: both;
	color: white;
	padding-top: 2%;
	margin-bottom: 4%;
	background-color: black;
	height: 250px;
}
footer p{
	font-family: "Bebas Neue",sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	padding-top: 1%;
	margin-left: 23%;
}
footer figure img{
	width: 13%;
	margin-top: 2%;
}
footer figure{
	margin-left: 2%;
	float: left;
}
/*index*/
.head{
	height: 550px;
	background-image: url(../img/achtergrond.jpg);
	background-repeat: no-repeat;
	background-size: 62%;
}
.head img{
	width: 5%;
	display: block;
	margin: 0% auto;
	margin-top: 14%;
	
}
.head p{
	font-family: 'Bebas Neue',sans-serif;
	font-size: 2.1em;
	margin-left: 55%;
	padding-top: 13%;
	line-height: 1.41em;
	width: 45%;
	text-decoration: underline;
}
.head h1{
	color: rgba(255,255,255,.8);
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 900;
	font-size: 6.8em;
	margin-top: 0.4%;
	margin-bottom: 15.5%;
	text-align: center;
}
/*index pagina*/
#intro{
	background-color: rgb(145, 166, 178);
	height: 600px;
	color: white;
}
#intro h2{
	color: white;
	padding-top: 12%;
	padding-bottom: 4%;

}
#intro p{
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 1.35em;
	width: 60%;
	margin: 0% auto;
	display: block;
}
#intro img{
	display: block;
	margin: 0% auto ;
	margin-top: 8%;
	width: 7%;
}
/*gallery*/
section{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
section h2{
	font-family: "Bebas Neue", sans-serif;
	font-weight: 600;
	font-size: 3.2em;
	text-align: center;
	margin-top: 5%;
		color: rgb(178, 157, 129)
}
section h2 span{
	font-weight: 200;
	font-size: 0.8em;
	border-top: black solid 2px;
}
section h3{
	font-family: "Bebas Neue", sans-serif;
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 7%;
}
/*galerie foto's*/
.galerie{
	width: 80%;
	display: inline;
	margin-left: 10%;
	margin-right: 10%;
	
}
.galerie img{
	width: 20%;
	margin: 0%;
	padding: 0%;
	font-size: 0;

}
.example{
	height: 900px;
	margin-top: 20%;
	margin-bottom: 10%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.interior{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: inline;
}
#mini{
	width: 19%;
}
.example#pic{
	width: 34%;
}
.interior img{
	width: 20%;
	display: inline;
}
.interior2{
	width: 100%;
	display: inline;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 14%;
}
#pic{
	width: 25%;
	float: left;
}
.interior2 img{
	width: 20%;
}
/*contactpage*/
header h1{
	font-family: "Bebas Neue", sans-serif;
	font-size: 3.1em;
	text-align: center;
	font-weight: 700;
	padding-top: 1%;
}
header h2{
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 2.1em;
	text-align: center;
}
#contactadres{
	padding-top: 7%;
}
.contact{
	width:  30%;
	margin-left: 4%;
	float: left;
	padding-top: 5%;

}
.contact p{
	font-size: 1.6em;
	font-weight: 200;
	font-family: "Bebas Neue", sans-serif;
}
#kaart{
	width: 50%;
	float: left;
	margin-left: 14%;
}
/*Informatie*/
#informatie{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 800px;
}
#informatie p{
	font-family: "Open Sans Condensed",sans-serif;
	font-weight: 200;
	font-size: 1.3em;
	padding-top: 10%;
}
.tekstone{
	width: 40%;
	margin-left: 15%;
	float: left;
}
.tekstone span{
	font-family: "Abel",sans-serif;
	font-weight: 800;
}
.teksttwo{
	width: 40%;
	margin-left: 60%;
}
#informatie figure{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#informatie figure img{
	width: 24%;
	border-radius: 100%;
}
/*team*/
#team{
	background-color: #5c959e;
	color: white;
	height: 700px;
}
#team h3{
	padding-top: 9%;
	margin-bottom: 1%;
}
#team figure{
	display: block;
	width: 40%;
	padding-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
}
#team figure img
{
	width: 32%;
	border-radius: 60%;
}
#team p{
	font-family: "Open Sans Condensed", sans-serif;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#team .pijl{
	width: 5%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	}
section div{
	margin-left: 50%;
	margin-top: 3%;
	font-family: "Bebas Neue", sans-serif;
	font-size: 2.1em;
}
#text img
{
	float: left;
}
@font-face{
	src: url(fonts/HelveticaRoundedLTStd-Black.otf);
	font-family: "Helvetica Rounded LTStd";
}@font-face{
	src: url(fonts/BebasNeue.otf);
	font-family: "Bebas Neue";
}
}
@media only screen and (max-width: 480px) and (min-width:380px){
nav{
	border-bottom: 1px solid black;
	margin-top: 4%;
}
nav ul img{
	width: 25%;
	margin-bottom: 3%;
	margin-right: 2%;
}
nav ul{
	margin-top: 2%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 1%;
}
nav ul li{
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.1%;
	padding-left: 2.6%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 3%;
} 
nav ul li a{
	text-decoration: none;
	color: black;
}

nav ul li:hover{
	border-left: 2px solid;
	border-right: 2px solid;
}
nav ul li a:hover{

}
 ul.sub1 {
	list-style-type: none;
} 
nav ul .sub1 a {
	margin-top: 5px;
}
ul ul.sub1 {
	display: none;
	position: absolute;
	top: 26px;
	left: -40px;
}
		
ul li:hover .sub1 {
	display: block;
}
nav ul .sub1 li:hover  {
	display: block;
}
.cartli{
	background-color: black;
	border-radius: 18%;
	padding-top: 3%;
	color: white;
	width: 30%;
}
.cartli a{
	text-decoration: none;
	color: white;
}
.cartli:hover{
	background-color: white;
	border: 2px solid black;
	color: black;
}
.cartli a:hover{
	color: black;
}
header nav ul .search{
	width: 6%;
	margin-right: 3%;
	margin-left: 3%;
}/*footer*/
footer{
	clear: both;
	padding-top: 2%;
	margin-bottom: 4%;
	background-color: black;
	height: 250px;
}

footer ul{
	padding-top: 2%;
	padding-right: 2%;
}
.right{
	margin-left: 14%;

}
.left{float: left;
padding-left: 10%;}
footer ul li {
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #5c969f;
	text-decoration: none;
}
footer ul li:hover{
	color: white;
}
footer figure img{
	width: 8%;
	margin-top: 2%;
}
footer figure{
	margin-left: 10%;
	margin-bottom: 2%;
}
/*index*/
.logo{
	width: 25%;
    position: absolute;
    top: -15%; bottom:0; left: 0; right:0;
    margin: auto;
}
.shoe{
	height: 500px;
}
.bloem{
	width: 60%;
}
.shoe p{
	font-family: 'Bebas Neue',sans-serif;
	font-size: 1.1em;
	padding-top: 16%;
	color: rgba(255,255,255,.8);
	text-align: center;
}
.shoe h1{
	color: rgba(255,255,255,.8);
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 900;
	font-size: 2.8em;
	margin-top: 0.4%;
	margin-bottom: 18.5%;
	text-align: center;
}

.pijl{
  	display: block;
 	margin-left: auto;
  	margin-right: auto;
	display: block;
	width: 5%;
}
/*section shoes*/
.example{
	height: 900px;
	margin-top: 20%;
	margin-bottom: 0%;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.example img{
	width: 57.68%;
	margin-left: 0;
	padding: 0;
	float: left;
}
.shoes{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: inline;
}
#big{
	width: 22.26%;
}
#little{
	width: 35%;
}
.shoes img{
	width: 33.4%;
	display: inline;
}
.shoes2{
	width: 36.6%;
	margin-left: 57.3%;
	display: block;
}
.shoes2 img{
	width: 90%;
}
/*section sneaker empire*/
.sneaker{
	clear: both;
	width: 72%;
	border: 2px solid black;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 30%;
}
.sneaker p{
	font-family: "Helvetica",sans-serif;
	font-size: 0.65em;
	padding: 2.2%;
}
.sneaker h2{
	font-size: 2.6em;
	margin-top: 6%;
	margin-bottom: 6%;
}
/*page sneakers*/
/*div's*/
div div h4{
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.9em; 
	margin-bottom: 2%;
	font-weight: 600;
	text-align: center;
}
div div p{
	font-family: "Bebas Neue", sans-serif;
	font-family: 1.2em;
	text-align: center;
}
.center div div:hover{
	border: 2px solid black;
}
.firstline{
	margin-left: auto;
	margin-right: auto;
}
.firstline div{
	width: 80%;
	display: inline;
	margin-right: 10%;
	margin-left: 10%; 
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 3%;
	float: left;
}
div div img{
	width: 150%;
	margin-bottom: 7%;
	float: left;
}
.center div a{
	text-decoration: none;
	color: black;
}
.firstline img{
	padding-left: 0%;
	width: 100%;
}
.center{
}
.secondline div{
	width: 80%;
	padding-left: 0%;
	padding-right: 0%;
	margin-right: 10%;
	margin-left: 10%;
	display: inline; 
	float: left;
	margin-bottom: 14%;

}
.secondline img{
	padding-left: 0%;
	width: 100%;
}
.secondline{
	clear: both;
}
/*contactpage*/
header h1{
	font-family: "Bebas Neue", sans-serif;
	font-size: 3.1em;
	text-align: center;
	font-weight: 700;
	padding-top: 1%;
}
header h2{
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 2.1em;
	text-align: center;
}
#conactadres{
	padding-top: 4%;
}
.contact{
	width:  80%;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	padding-top: 5%;

}
.contact p{
	font-size: 1.6em;
	font-weight: 200;
	font-family: "Bebas Neue", sans-serif;
}
#kaart{
	width: 100%;
	margin-left: 0%;
	margin-top: 6%;
	margin-bottom: 8%;}
/*PRODUCT*/
/*aside text*/
aside h1{
	font-family: "Bebas Neue", sans-serif;
	font-size: 2.7em;
	margin-top: 1.5%;
	font-weight: 800;
	text-align: center;
	margin-bottom: 18%;}
aside p{
	font-family: "Helvetica Rounded LTStd",sans-serif;
	font-weight: 800;
	margin-left: 3%;
}
aside ul li {
	font-family: "Helvetica",sans-serif;
	font-size: 1em;
}
aside ul{
	margin-top: 2%;
	margin-left: 3%;

}
#text{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	float: none;
	margin-top: 0%;
}
#text p{
	margin-top: 16%;

}
.maat{
	font-family: "Bebas Neue",sans-serif;
	font-size: 2.1em;
	color:  #5c969f;
}
/*picture*/
#picture{
	width: 60%;
	margin-left: 10%;
	margin-top: 4%;
}
#picture div .one{
}
#picture h3{
	font-family: "Bebas Neue", sans-serif;
	font-size: 2em;
	font-weight: 800;
}
#picture p {
	font-family: "Bebas Neue", sans-serif;
	font-size: 0.8em;
	text-align: left;
	font-weight: 300;	
}
.eerste{
	width: 140%;
}
.oneside{
	width: 65%;
	float: left;
}
.side{
	width: 140%;
}
.adidas{
	float: left;
	width: 40%;
	margin-right: 0%;
	margin-bottom:-50%; 
}
.secondside{
	width: 35%;
	height: auto;
}
.lastone{
	margin-left: 50%;
	width: 90%;
	float: left;
	margin-top:-18%;
}
/*cart*/
.cart h2{
	color: black;
	font-size: 2.5em;
}
.cart h2:hover{
	color: black;
}
.cart h3{
	color: #5c969f;
	opacity: .7%;
	margin-bottom: 19%;

}
.cart p{
	margin-left: 40%;
	font-family: "Bebas Neue",sans-serif;
	font-size: 1.3em;
} 
.cart .line{
	border-bottom: 2px solid rgba(0,0,0,0.6);
}
.cart .line p{
	font-size: 1.17em;
	margin-bottom: 0.7%;
}
.cart .one{
	width: 30%;
	margin-left: 50%;
	float: left;
}
.one, .next{
	color: #5c969f;
}
.cart .next{
	margin-left: 50%;
}
.cart img{
	width: 40%;
	float: left;
}
.cart .textproduct{
	width: 30%;
	margin-top: 4%;
	margin-left: 38%;
}
.cart .textproduct h3{
	margin-bottom: 9%;
	margin-left: 24%;
	font-weight: 500;
	font-size: 1.25em;
}
.cart .textproduct p{
	font-size: 1.05em;
}
.cart .size{
	margin-left: 80%;
	font-size: 1.7em;
	margin-top: -19%;
	margin-bottom: 50%;
	font-weight: 600;
}
}